
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About Us </h1>
    <h4 class="lead"> Jungle is online shopping Platform for Canadians which  takes you the world of Electronics , Furniture and Apparels  to redecorate to your world at reasonble rates. 
    <div>Just Order the apparels from our site and rest is on our sholders.We, promise a prompt delivery of your stuff within 3 days.</div>
   So Why Wait for Start Shopping ........</h4>
  </div>
</div>